.header-box {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 25px;
}

.header-box nav ul li {
  font-family: "Raleway";
  color: #f3f3f3;
  text-shadow: 0px 4px 4px rgba(199, 199, 199, 0.25);
  float: left;
  margin: 0 0 0 15px;
  list-style: none;
}

/* .menu {
  margin-right: 200px;
} */

nav {
  display: flex;
  align-items: center;
  text-align: center;
}

nav ul li img {
  margin-top: 5px;
}

.header-container {
  background: rgb(57, 56, 57);
  background: linear-gradient(
    0deg,
    rgba(57, 56, 57, 1) 0%,
    rgba(198, 24, 24, 0.2665441176470589) 50%,
    rgba(88, 88, 88, 0.8687850140056023) 100%
  );
  width: 100%;
  height: 50vh;
  border-bottom: 3px solid #e43333;
}

.banner-box {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.banner-box h1 {
  display: inline;

  font-size: 4.5em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.55);
}
.banner-box h2 {
  position: relative;
  margin-top: 0;

  left: 2px;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 24px;
  color: #9f9d9d;
  text-shadow: 0px 4px 4px rgba(199, 199, 199, 0.25);
}

.circle-h1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
}
.button-box {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  height: 50px;
  border-radius: 5px;
  border: solid 1px white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#btn-buybeat {
  background-color: red;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(199, 199, 199, 0.25);
}

#btn-buymusic {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(199, 199, 199, 0.25);
}

/* Section */

.section-container {
  margin: 0 auto;
  justify-content: center;
}

.section-container h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px 30px;
  background: #e43333;
  box-shadow: 0px 2px 10px 5px rgba(255, 0, 0, 0.5);
  border-radius: 12px;
}

.tittle-box {
  text-align: center;
  justify-content: center;
  display: flex;
}

p {
  position: relative;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #f2f2f2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
  margin-bottom: 20px;
  max-width: 1000px;
  font-size: 1.2em;
  margin: 0 auto;
  padding: 20px;
}

.p-about {
  position: absolute;
  background: rgba(228, 51, 51, 0.19);
  width: 100%;
  left: 0;
}

.section-music {
  text-align: center;
  margin: 300px auto;
  max-width: 1000px;
}

.player-desktop {
  height: 300px;
  padding: 0 10px;

}

.slider-music-mobile {
 
  display: inline-flex;
  text-align: center;
  align-items: center;
  align-self: center;

}

.icons-music {
  color: white;
  margin-bottom: 20% ;
  padding-left: 10px;
  padding-right: 10px;
 
}
@media (max-width: 650px) {
  .header-box {
    padding: 20px;
  }
  .banner-box {
    padding: 20px;
  }
  .player {
    width: 100%;
    height: 300px;
    text-align: center;
  }
}
